<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayBoot</title>
    <link rel="icon" type="image/png" href="images/daybooticon.png">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body>
    <header>
        <nav>
            <a href="#"><img src="static/images/logo.png" alt="Dashboard Logo"></a>
            <!-- Navigation links here -->
        </nav>
    </header>
    <main>
        <section id="logo">
            <h1>DayBoot</h1>
        </section>
        <section id="calendar">
            <h2>Kalenderdings</h2>
        </section>
        <section id="holidays">
            <h2>Feiertage</h2>
        </section>
        <section id="weather">
            <h2>Das Wetter</h2>
            {% for entry in weather_data %}
            <ul>
                <li id="temperature_c">Temperatur: {{ entry.temperatur_c }}°C</li>
                <li id="feels_like_temperature_c">Gefühlt: {{ entry.feels_like_c }} °C</li>
                <li id="rain_status">{{ entry.rain_status }}</li>
            </ul>
            {% endfor %}
        </section>        
        <section id="catastrophe_warnings">
            <h2 id="katwarnung">NINA</h2>
            {% if nina_data is string %}
                <ul>
                    <li class="warntext">{{ nina_data }}</li>
                </ul>
            {% else %}
                {% for entry in nina_data %}
                <ul>
                    <li class="warntext">{{ entry }}</li>
                </ul>
                {% endfor %}
            {% endif %}
        </section>
        <section id="local_news">
            <h2>Nachrichten Schleswig-Holstein</h2>
            <p>bereitgestellt vom NDR</p>
            <ul>
            {% for entry in localnews_data %}
            <li>
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.description }}</p>
                {% if entry.image %}
                    <img src="{{ entry.image }}" alt="{{ entry.title }}">
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </section>
        <section id="cinema">
            <h2>Kinoprogramm</h2>
        </section>
        <section id="bus_arrivals">
            <h2>Busfahrplan</h2>
            <h3>Haltestelle Südfriedhof</h3>
            <table>
                <thead>
                    <tr>
                        <th>Buslinie</th>
                        <th>Ziel</th>
                        <th>Ankunft</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in bus_schedule %}
                    <tr>
                        <td>{{ entry.buslinie }}</td>
                        <td>{{ entry.richtung }}</td>
                        <td>{{ entry.ankunft }} Minuten</td>
                    </tr>
                    {% endfor %}
                    <!-- Other bus information will follow the same structure -->
                </tbody>
            </table>
        </section>
        <section id="train_departures">
            <!-- Train departures content goes here -->
        </section>
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
    <script src="static/js/main.js"></script>
    <!-- Additional JS files --> 
</body>
</html>